[2012-08-08 06:57] stevenwong opened #1 "Play-jongo unresolved dependency"
Hi,

I'm having trouble installing this module using the lines shown on the documentations page.

[code]

Play can't seem to find the repository.

[code]

Any idea why that is?

I've also posted on Stackoverflow:
http://stackoverflow.com/questions/11856971/play-jongo-unresolved-dependency

Thanks
Steve

[2012-08-08 09:15] #1 closed, assigned to alexanderjarvis

[2012-08-13 15:55] andersonsoares opened #2 "play.api.UnexpectedException: Unexpected exception [NullPointerException: null]"
Hi, i have a blank play project and i setup application.java to works with play-jongo. I updated then dependencies and when i try to open the page on browser i get exception:

java.lang.NullPointerException:
     uk.co.panaxiom.playjongo.PlayJongo.<init>(PlayJongo.java:32)
     uk.co.panaxiom.playjongo.PlayJongo.getInstance(PlayJongo.java:46)
     uk.co.panaxiom.playjongo.PlayJongo.forceNewInstanc

[2012-08-13 17:19] #2 closed, assigned to nobody

[2012-09-05 08:00] scujcc opened #4 "UNRESOLVED DEPENDENCIES org.jongo#jongo;0.3-SNAPSHOT"
I am using play-jongo 0.3-SNAPSHOT, who depends on jongo 0.3-SNAPSHOT.  But there's only jongo 0.2 on the main maven repo, which will cause the project compile error. Error message is shown as below:

[Kidea Application Development] $ compile
[info] Updating {file:/home/roger/workspace-rad/kad/}Kidea Application Development...
[info] Resolving org.hibernate.javax.persistence#hibernate-jpa-2.0-api;

[2012-10-01 20:43] #4 closed, assigned to nobody

[2012-10-22 08:07] laguiz opened #5 "Did I missed something? uk.co.panaxiom.playjongo.PlayJongo.<init>(PlayJongo.java:26) ~[play-jongo_2.9.1-0.2.jar:0.2]"
Using

`"uk.co.panaxiom" %% "play-jongo" % "0.2"`

And this configuration :

[code]

I get this exception :

`play.api.UnexpectedException: Unexpected exception [NullPointerException: null]
        at play.core.ReloadableApplication$$anonfun$get$1$$anonfun$apply$3$$anonfun$1.apply(ApplicationProvider.scala:134) ~[play_2.9.1.jar:2.0.3]
        at play.core.ReloadableApplication$$anonfun$get$1$$anon

[2012-10-22 09:31] #5 closed, assigned to nobody

[2012-12-18 15:55] laguiz opened #7 "Update Jongo to 0.3?"
It seems that Jongo has been released in version 0.3 : http://jongo.org/#maven
Need help to switch?

[2012-12-20 07:31] donovanmuller opened #8 "2.1-RC1 plugin routes overriding app routes"
Hi,

I've added play-jongo to my 2.1-RC1 app.
However, it seems that the plugins routes are being used instead of my apps.

I.e. http://localhost:9000/
Get's you a: Action not found error (see attached screenshot:)
![Selection_001](https://f.cloud.github.com/assets/1175891/23903/1d09a796-4a77-11e2-8e4e-d64de1e9c8bf.png)

Any idea why this would be happening?

Thanks

[2012-12-29 22:51] nzhekov opened #9 "Compiled with java 7 - support for java 6?"
Hi!
I've tried the plug-in with play 2.0.4 and I'm becoming the following error when starting a test application:

play.api.PlayException: Cannot load plugin [Plugin [uk.co.panaxiom.playjongo.JongoPlugin] cannot been instantiated.]
...
Caused by: java.lang.UnsupportedClassVersionError: uk/co/panaxiom/playjongo/JongoPlugin : Unsupported major.minor version 51.0
...

I'm running the play applicaiton

[2013-01-08 11:56] #7 closed, assigned to nobody

[2013-01-27 19:03] #8 closed, assigned to nobody

[2013-01-27 19:36] #9 closed, assigned to nobody

[2013-03-08 09:55] sergentrif opened #10 "Parsing methods"
Hi, I have a little problem.

When I want to parse an object, Jongo is parsing a method of this object. How it is possible ? I just want my attributes to be parsed, so I tried to add a @JsonIgnore annotation but it didn't worked.
When I say "parsing", I mean that it executes the method before. It's a setter like "isSomething()".

Ah, and I forget this fact, but my class implements JsonSerializable

[2013-04-02 20:52] #10 closed, assigned to nobody

[2013-04-12 22:17] monsieurBelbo opened #11 "NoSuchFieldError in Play 2.1"
Hi @alexanderjarvis

There seems to be an issue with the module when updating to Play 2.1.
I've been (very happily) using the module for an app with Play 2.0.4 and it worked just fine. However, when I started the migration of my app to Play 2.1 it compiles correctly, but I get an `NoSuchFieldError` on runtime.

I researched this issue quite a bit and all signs point to it having something to do wi

[2013-04-21 12:53] blommish opened #12 "Unable to unmarshall"
Im trying to create a user, and then receive it again, but the unmarshall is failing..

User u = new User("johan");
u.insert();
User p = User.findByName("johan");
//[MarshallingException: Unable to unmarshall result to class models.User from content { "_id" : { "$oid" : "5173dc3e5282bb9af33b9a41"} , "name" : "johan"}]

[code]

}

[2013-04-21 15:03] #12 closed, assigned to nobody

[2013-04-24 22:34] #11 closed, assigned to nobody

[2013-06-02 11:48] Baccanno opened #14 "Jackson not able to find class for deserialization"
Hello, thanks for this module. I'm getting troubles when trying to deserialize in a controller or template. For instance below code

[code]

throws

[code]

importing the class into the template or the controller did nothing

but if in my DAO I add this function (I'm using spring injected controllers)

[code]

then everything works fine afterwards ! It looks like jackson is unable to find the clas

[2013-06-19 01:25] ccchr opened #15 "The "id" mapped by @JsonProperty("_id") is always null"
I copied the example under the Usage in the README file, but the "id" seems to be always null (@user.id).

@JsonProperty("_id")
public ObjectId id;

I am trying to pass the id in a POST in order to delete a user.

Am I missing something?

[2013-06-20 10:04] magro opened #18 "Clarify license."
What's the license of this project btw?

[2013-06-21 08:35] #18 closed, assigned to nobody

[2013-09-11 07:25] magro opened #21 "Release to sonatype / maven central"
A new version shall be pushed, then to maven central.

[2013-09-11 22:10] #21 closed, assigned to magro

[2013-09-24 16:12] DareBoost opened #22 "Authentication to mongoDB"
I have recently installed this plugin and I would like to use mongoDB authentication abilities.

I tried to put user and password as URI in the configuration file :
playjongo.uri="mongodb://user:pwd@127.0.0.1:27017/dbname"

all I get is :
play.api.Application$$anon$1: Execution exception[[MongoException: unauthorized db:play ns:play.pages lock type:0 client:127.0.0.1]]

However it works with mongo

[2013-09-27 09:24] mliebl opened #23 "Update Version for Play 2.2.0"
Hi,
I've tried to use play-jongo with play 2.2.0 and the following error occured.
[error] Modules were resolved with conflicting cross-version suffixes in {file:/Users/.../Development/git/.../.../}...:
[error]    org.scala-stm:scala-stm _2.10, _2.10.0
Is there any plan to update this library, so that it can be used with play 2.2.0?
Thanks!
Marc

[2013-10-03 17:46] #23 closed, assigned to nobody

[2013-10-14 13:35] ciribob opened #24 "Problems with Play 2.2"
With play 2.2 some mongo documents will fail to load properly due to incompatibilities with bson4jackson and the current version of jackson.

Change your app dependencies to this:

  val appDependencies = Seq(
    // Add your project dependencies here,
    javaCore,

[code]

  )

[2013-10-15 11:10] #24 closed, assigned to nobody

[2013-10-21 10:03] #14 closed, assigned to nobody

[2014-03-04 16:49] laguiz opened #26 "What about updating to jongo 1.0?"
Looking at jongo.org it seems that 1.0 has bean released. It would be awesome to get new release of play-jongo :)

[2014-03-05 08:21] #26 closed, assigned to magro

[2014-03-27 08:55] bguerout opened #27 "Incompatibility between Play 2.2, bson4jackson and jackson"
Hi,

First of all i would like to thank you about your jongo plugin.
Lots of people use Jongo in a play context with this plugin.

I've seen you have found an incompatibility issue beetwen Play 2.2, bson4jackson and jackson.

Have you more informations about this issue ?

[2014-04-09 16:41] mingfang opened #28 "Add support for multiple playjongo.uri in application.conf"
Currently play-jongo only support one playjongo.uri and is used by the static PlayJongo.getInstance().

It would be better to allow multiple playjongo.uri just like Play's db support.  The pattern would be playjongo.default.uri for the default and playjongo.mydb.uri.

At the code level, PlayJongo.getInstance() would return playjongo.default.uri.
PlayJongo.getInstance("mydb") would return playjongo

[2014-04-14 18:28] aBuder opened #29 "Add play-jongo to play 2.2.2"
Hi,

if I add the play jongo to my play 2.2.2 project, I get the following message.

cannot find symbol [symbol: class MongoCollection]

my build.sbt looks like this.

version := "1.0-SNAPSHOT"

libraryDependencies ++= Seq(
  javaJdbc,
  javaCore,
  javaEbean,
  cache,
  "de.undercouch" % "bson4jackson" % "2.1.0" force(),
  "com.fasterxml.jackson.core" % "jackson-databind" % "2.1.0" force(),
  "co

[2014-04-27 19:05] #27 closed, assigned to nobody

[2014-06-26 15:10] scrapoxy opened #30 "Migrate project for Play! 2.3.1 and Scala 2.11.1"
Hello,

Play is now in 2.3.1, with Scala 2.11.1

Do you plan to migrate the code for this version ?

Play jongo is great projet and i'm using it in most of my projects.

Thanks,

Fabien Vauchelles.

[2014-06-27 09:34] #30 closed, assigned to nobody

[2014-08-12 16:03] hosseinhelali opened #33 "I add the play jongo to my play 2.2.3"
Hi,

I add the play jongo to my play 2.2.3 project, I get the following message
i have error.

java.lang.NoClassDefFoundError: org/codehaus/jackson/map/ObjectMapper
     play.modules.mongodb.jackson.MongoDBPlugin.x$9$lzycompute(MongoDB.scala:175)
     play.modules.mongodb.jackson.MongoDBPlugin.x$9(MongoDB.scala:167)
     play.modules.mongodb.jackson.MongoDBPlugin.mongo$lzycompute(MongoDB.scala:167

[2015-05-03 14:05] theranger opened #35 "Update to jongo-1.2 and mongo-java-driver-2.13.1"
Hi,

Time has gone by and both Jongo and MongoDB Java driver has moved on. Can you please update your project as well?

[2015-05-03 19:07] alexanderjarvis commented on #35
PR welcome. I no longer maintain this project.

[2015-05-03 19:45] theranger commented on #35
Oh, okey. I would make the modifications by myself. Can you give me a write access to the repo or do you prefer forking?

[2015-05-03 22:45] magro commented on #35
@theranger If you send a pull request I can make a release. Another one maintaining this project would be fine as well if course.

[2015-07-02 14:56] morellik opened #37 "play-jongo for play 2.4.x"
Dear,

have you plan a release for the new play 2.4.1 version?

[2015-07-06 23:36] effahmens commented on #37
I run into an issue when i tried to upgrade to 2.4.1. Any plans of upgrading

lay.api.UnexpectedException: Unexpected exception[ConfigurationException: Guice configuration errors:

1) Could not find a suitable constructor in uk.co.panaxiom.playjongo.JongoPlugin. Classes must have either one (and only one) constructor annotated with @Inject or a zero-argument constructor that is not private.
  at u

[2015-07-07 21:31] magro commented on #37
There's a pull request for 2.4 compatibility, I'm just working on this (tests don't run, build path issues)...

[2015-07-07 23:04] magro commented on #37
play-jongo-0.8.0-jongo1.2 is on its way to maven central, it's based on PR #36. Does this work for you?

The next step would probably be to provide a Module additionally / as replacement for the JongoPlugin, as plugins are deprecated with 2.4.

[2015-07-07 23:06] magro commented on #35
@theranger Do you need to jongo update for play 2.3 oder 2.4? The new version 0.8.0-jongo1.2 is built for play 2.4 and comes with an updated version of jongo.

[2015-07-08 10:18] theranger commented on #35
I am currently on 2.3, but planning an update to 2.4 in the near future anyway.
So for me 0.8.0-jongo1.2 for 2.4 is perfectly fine. Thank you!

[2015-07-08 10:18] #35 closed

[2015-07-08 16:46] magro commented on #35
Great!

[2015-07-17 10:06] rupesh1984 opened #38 "I am using Play Framework2 with JAVA"
I am trying to Jongo  module. Added dependency in ROOT/project/plugins.sbt. Then hitted command :
$activator compile

Following issue display

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: uk.co.panaxiom#play-jongo;0.8.0-jongo1.0: not found
[warn] 	:::::::::::::::::::::

[2015-07-21 14:23] morellik commented on #37
I tried to use play-jongo-0.8.0-jongo1.2 for a new 2.4 Play project.The first compilation works fine. Now I start to create models and I'll test more deep.

[2015-08-18 09:06] morellik commented on #37
All seems to be working fine. Good work. Thanks

[2015-08-18 10:48] magro commented on #37
great!

[2015-08-18 10:48] #37 closed

[2015-09-09 13:52] hgolding commented on #38
I am using play 2.4 with Java. Adding the dependency as a new line in build.sbt libraryDependencies worked for me (compilation so far, yet to run). For example:

libraryDependencies ++= Seq(
  javaJdbc,
  cache,
  javaWs,
  "uk.co.panaxiom" %% "play-jongo" % "0.8.0-jongo1.0"
)

[2015-09-28 16:30] aBuder opened #39 "MarshallingException: Unable to unmarshall result Reference"
Hi,
I am using play 2.4 and would like to set an reference object "document" in model "user".
If I iterate over iterator, I get the following error: So if I call the route /users, where normally I should get an Json list with all user objects and embedded documents.

[MarshallingException: Unable to unmarshall result to class models.User from content { "_id" : { "$oid" : "560969b4d4c6209ff2a1a973"

[2015-09-29 07:21] aBuder commented on #39
I found the problem. I forgot to implement the default constructor in booth models, after implementing, the program works fine

[2015-09-29 07:21] #39 closed

[2015-11-19 12:57] loicknuchel opened #41 "Jongo support for SCRAM-SHA-1 auth ?"
Hi,

Since mongo 3.0, there is a new authentication mode : SCRAM-SHA-1

Do Jongo support it ?
If yes, how to enable it ?

My problem: I use heroku with mongolab and the authentication method mode MUST be SCRAM-SHA-1.
My jongo uri seems correct but I get an auth error.
Any idea on how I can get this working ?

This issue may be related to https://github.com/alexanderjarvis/play-jongo/issues/22

PS:

[2015-11-24 07:54] winglight opened #42 "Is slice function supported?"
I need to fetch a paged list of comments embedded in a post document, here's my code:
{_id:#},{comments:{$slice:[#,#]}}
It works in the mongo client but not in the play jongo, how can I implements a normal pagination in the embedded object array?

[2016-01-28 09:56] pbelmann opened #43 "play-jongo as a module"
First, I would like to thanks for this plugin.

But play 2.4 recommends to migrate play plugins to play modules:

https://www.playframework.com/documentation/2.4.x/PluginsToModules

[2016-01-28 20:24] magro commented on #43
Thanks for the pointer! Do you want to submit a pull request?

[2016-01-31 16:04] pbelmann commented on #43
@magro  see PR #44

[2016-02-02 08:06] magro commented on #42
@winglight This question refers to jongo itself, please ask there.

[2016-02-02 08:06] #42 closed

[2016-02-02 08:08] magro commented on #22
@DareBoost Please try to get this to work with plain jongo at first. Once you figured out how it works with jongo it should be clearer what has to be done in this plugin (if anything at all).

[2016-02-02 08:09] magro commented on #41
@loicknuchel Please try to get this to work with plain jongo at first. Once you figured out how it works with jongo it should be clearer what has to be done in this plugin (if anything at all).

[2016-02-02 08:09] #41 closed

[2016-02-02 08:09] #22 closed

[2016-02-02 08:12] magro commented on #38
@rupesh1984 As @hgolding pointed out the dependency has to be specified in build.sbt not project/plugins.sbt. Thanks @hgolding!

[2016-02-02 08:12] #38 closed

[2016-02-02 08:14] #33 closed

[2016-02-02 08:14] #29 closed

[2016-02-02 08:14] magro commented on #28
Timeout

[2016-02-02 08:14] #28 closed

[2016-02-02 08:15] #15 closed

[2016-02-07 06:44] sdk451 opened #45 "JongoModule: CreationException - Binding points to itself"
Hi thanks for creating this.

I've just attempted to shift to the play Module implementation and I get this on run of my play project.

CreationException: Unable to create injector, see the following errors:

1) Binding points to itself.
  at uk.co.panaxiom.playjongo.JongoModule.bindings(JongoModule.java:16):
Binding(class uk.co.panaxiom.playjongo.PlayJongo to ConstructionTarget(class uk.co.panaxi

[2016-02-07 07:30] sdk451 commented on #45
the binding within the JongoModule doesn't follow the suggested pattern i.e -bind(PlayJongo.class).to(MyPlayJongoImplementation.class) - but I'm not familar enough with DI to code a fix

public class MyModule extends Module {
  public Seq<Binding<?>> bindings(Environment environment, Configuration configuration) {
    return seq(
      bind(MyComponent.class).to(**_MyComponentImpl.class_**)
    );

[2016-02-07 20:23] #45 closed

[2016-02-07 20:24] magro commented on #45
@sdk451 Thanx for the pointer, the fix is with version 1.0.1-jongo1.2 on its way to maven central.

[2016-02-07 20:26] #43 closed

[2016-02-22 12:12] matanster opened #46 "github repo tagline is confusing/misleading"
It currently says version 2.2 of Play

[2016-02-22 13:00] magro commented on #46
@matanster You're right, unfortunately I don't have the required permissions do change that.

@alexanderjarvis Can you change the project description to s.th. like "Play Module for Jongo http://jongo.org/" or give me the required permissions/role to change that?

[2016-02-22 17:23] alexanderjarvis commented on #46
Done! I don't think it's possible to adjust permissions for that.

[2016-02-22 17:24] #46 closed

[2016-02-22 20:09] magro commented on #46
Thanks @alexanderjarvis!

[2016-03-03 06:30] sdk451 opened #47 "Can you provide examples of full CRUD operation in the readme doc?"
I've been having some trouble with the upsert scenario for modifying existing documents that are bound to an object model under Play 2.4.6, so it would be great to see how each of the CRUD operations are performed with play-jongo. I have an object model that implements PathBindable and I *can* perform upserts with a model that looks like the one below, because I am assuming the _user.email_ field

[2016-03-04 01:08] sdk451 commented on #47
I've done a bit of further testing and realised that there is a problem doing update/upsert on models that don't use the Mongo ObjectId ( _id ) as the binding field in bind() - changing the value of the binding field inserts a new document into the database, rather than updating the existing document. For example for a user with a unique email - if you bind on email, and then edit the value of the

[2016-03-05 21:56] sdk451 commented on #47
Ok, I have finally figured out how to do this for a Model

MyClass implements PathBindable<MyClass>
// model MyClass must annotate id field as follows:

@MongoId
String uid;

// your field name may vary but must NOT start
// with _

// upsert method
Public static MyClass upsert()
{
    Collection("MyClass").update(Oid.withOid(this.uid).upsert().with(this);

}

// bind on uid

[2016-03-05 22:45] sdk451 commented on #47
The main revelation about this issue was that any field item not in the Play Form was discarded during the bind and unbind process - and if this includes the uid (mongo _id) then you are unable to retrieve the exist document, and a new one is created by default.  The easiest way to ensure the document _id (model.uid) is preserved during the form bind and unbind is to pass it as a hidden field (ass

[2016-03-06 02:40] sdk451 commented on #47
So here is a view template with a hidden uid field for a model MyModel with fields title, author and date
Note the hidden field (uid) is the last item in the fieldset - this allows you to bind and unbind data through the modelForm keeping the mongo _id (as string uid) is it already exists

@(modelForm: Form[models.MyModel])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBo

[2016-03-06 02:45] sdk451 commented on #47
Not sure if some judicious use of the @JsonIgnore, or Views annotations might be a more eloquent way of addressing these issues, but the comments above are my immediate solution to implementing jongo update / upsert with Play PathBindable. So issue this can be closed, but perhaps you might consider adding some of the ideas and examples here to the read.me

[2016-03-06 02:45] #47 closed

[2016-03-07 15:04] morellik opened #48 "Play 2.5"
Did you try play-jongo on Play 2.5? Is there a way to use under Play 2.5?

[2016-03-07 23:07] magro commented on #48
It should be possible to use it with play 2.4/2.5, this was done with #44. If it doesn't work this issue is valid :-)

[2016-03-08 09:27] morellik commented on #48
Using the following libraries in build.sbt
 "org.mongodb" % "mongo-java-driver" % "3.2.2",
  "org.jongo" % "jongo" % "1.2",
  "com.fasterxml.jackson.module" %% "jackson-module-scala" % "2.4.1" % "optional",
  "uk.co.panaxiom" %% "play-jongo" % "1.0.1-jongo1.2"

I receive the following warning:

[warn] There may be incompatibilities among your library dependencies.
[warn] Here are some of the libra

[2016-03-09 20:16] mancvso commented on #48
jackson-module-scala says on this Github page
[code]

[2016-03-09 22:08] magro commented on #48
I'd say that you can ignore the warnings, or exclude transitive dependencies where needed.

[2016-03-10 09:12] morellik commented on #48
If I've to write a production application I prefer to have compatibility libraries. In this case the Play! evicts the incompatibility libraries so I don't know how to use them.
Another issue regards the application.conf that was changed and I don't know where put the database declaration.

[2016-03-10 10:36] morellik commented on #48
One of the Play! contributors told me: "The migration for Play modules is not as much as it was in 2.4, so it should not be too difficult for library authors to update."

So, if you can, we are happy!

Thanks

[2016-03-10 19:16] magro commented on #48
I'm going to vacation tomorrow, not sure about my workload afterwards. If you submit a pull request I can make a release then.

[2016-03-11 08:04] morellik commented on #48
I tried, but github ask me to compare branches and I didn't know what I've to do. I'll wait until you come back from you vacation.

Good vacation ;-))

[2016-03-11 08:55] magro commented on #48
Github has rather good docs... :-) Thanks!

[2016-03-11 10:58] morellik commented on #48
I checked the Play! module documentation and the jongo sources and I don't understand where is the incompatibility, You follow exactly the documentation guidelines.

[2016-03-11 11:29] morellik commented on #48
The only different thing is that in your JongoModule.java you use @Override while in the documentation there isn't.

[2016-03-11 14:05] morellik commented on #48
The group answer is: Modules don't exist anymore in 2.5. A "module" in 2.5 is just a bunch of classes that are bound in DI.

[2016-03-11 21:44] magro commented on #48
Right, so what's the problem? Just register the JongoModule.

[2016-03-14 08:40] morellik commented on #48
;-))) How?

I tried to put
play.modules {
  enabled += uk.co.panaxiom.playjongo.JongoModule
}

in application.conf, but PlayJongo continues to be evicted by Play.

[2016-03-14 09:51] morellik commented on #48
Another Play Group answer: Looks like it depends on Play 2.4, which isn't compatible with 2.5 on a binary level.

[2016-03-14 09:59] gmethvin commented on #48
@magro If it works for 2.5, can you create a release that is compiled against 2.5, to ensure binary compatibility?

[2016-03-14 10:27] morellik commented on #48
Recompiling using Play 2.5 libraries, all seems to works fine.

[2016-03-14 10:45] morellik commented on #48
I spoke too soon. All works fine on IntelliJ importing the recompiled PlayJongo by hand. But when Play compiles the sources it not find PlayJongo and stops with compilation errors.
So like  gmethvin ask, please recompile PlayJongo against Play 2.5.

[2016-05-29 06:06] sdk451 opened #49 "Example customer jackson mapper for play-jongo"
Could someone provide an example of how to add the jackson JodaMapper to the JongoScalaMapperFactory implemention of JongoMapperFactory?  Joda.DateTime variables cause unmarshalling exceptions unless one registers a JodaMapper() module to the jackson ObjectMapper(). the obvious hook for registering it is the JongoScalaMapperFactory, but I can't seem to figure how it can be done with this kind of b

[2016-05-29 06:19] sdk451 commented on #49
Actually I just figured out - (never seen this .registerModule().registerModule() java syntax before)

package modules;

import org.jongo.Mapper;
import org.jongo.marshall.jackson.JacksonMapper;

import com.fasterxml.jackson.module.scala.*;
import com.fasterxml.jackson.datatype.joda.*;

/**
 * Creates a mapper that handles marshalling of scala and joda types
 */

public class JongoScalaMapperFacto

[2016-05-29 11:07] magro commented on #49
Great that you solved it!

[2016-05-29 11:07] #49 closed

[2016-06-05 18:42] yingding opened #50 "Path to MyMongoClientFactory for the ClassLoader"
I have created a MyMongoCientFactory.java
unter app->db->MyMongoClientFactory.java (db is a subfolder unter app folder)

As suggested i have declared in my application.conf
playjongo.mongoClientFactory="db.MyMongoClientFactory"

But i got an error
[error] application - ClassNotFoundException
java.lang.ClassNotFoundException: db.AppMongoClientFactory

It seems like the ClassLoader can't find MyMong

[2016-06-05 21:21] magro commented on #50
Something in your description is wrong. You're speaking of "MyMongoCientFactory", which does not match "ClassNotFoundException: db.AppMongoClientFactory".

[2016-06-06 13:05] yingding commented on #50
Thank for the quick reply, i thought at first it may be the case, but unfortunately it is just a typo of error output in my issue. I have renamed the class to get issue description consistent.

I have created a AppMongoCientFactory.java
under app->db->AppMongoClientFactory.java (db is a subfolder under app folder)

As suggested i have declared in my application.conf
playjongo.mongoClientFactory="d

[2016-06-08 10:01] morellik commented on #48
Is it possible release a version compiled against 2.5?

[2016-06-08 13:59] ShahBinoy commented on #48
Submitted a PR for it #53

[2016-06-09 07:22] morellik commented on #48
Thanks

[2016-06-10 11:08] magro commented on #48
@ShahBinoy Thanks a lot for the PR! I just released the change (with some other lib updates) as 2.0.0-jongo1.3, here's the [list of changes](https://github.com/alexanderjarvis/play-jongo/compare/f14be99...8562838).

Please note that I didn't have time to battle test this in integration, if there's anything not working please submit an issue or update this one.

The [README/Usage documentation](htt

[2016-06-10 11:08] #48 closed

[2016-09-07 05:12] chrisp22 opened #54 "Using the module in a stand alone."
I wanted to use these module in my SBT stand alone module to save data and manipulate it.

[2016-09-07 07:13] magro commented on #54
Can you please be a bit more specific on what you want to achieve and what's the actual issue?

[2016-09-07 08:05] chrisp22 commented on #54
i have an SBT project that is Not play framework, but it has the play
framework architecture. of resent  i managed to add ebean for mysql to it.
I found that Mongodb would solve the database reads and write that i am
facing. I want to replace the Mysql Ebean with Mongodb. Looking at
play-jongo, just like play-ebean, i can add it to the Stand alone SBT
project and use it.

The problem is that i don

[2016-09-07 08:20] magro commented on #54
This plugin is built for / tied to play, so you cannot use it without play. For you it would be easier to use a Mongo client or jongo directly. Cheers

[2016-09-07 08:20] #54 closed

[2016-09-07 08:30] chrisp22 commented on #54
Thanks for the feed back

[2016-09-08 20:07] ccsalazarr-commercetools opened #55 "Problem with Jongo Library in Play 2.5"
I have added this to the build.sbt

libraryDependencies ++= Seq(
  "uk.co.panaxiom" %% "play-jongo" % "2.0.0-jongo1.3"
)

but the library is not downloaded and I cannot create any instance of PlayJongo, any idea?

[2016-09-14 17:03] chekurisriharsha commented on #55
Use "uk.co.panaxiom" % "play-jongo_2.11" % "2.0.0-jongo1.3" instead. Found this on https://mvnrepository.com/artifact/uk.co.panaxiom/play-jongo_2.11/2.0.0-jongo1.3

[2016-09-14 17:59] magro commented on #55
The double percent in `"uk.co.panaxiom" %% "play-jongo" % "2.0.0-jongo1.3"` should actually take care of this.

[2016-10-05 17:55] julianvmodesto opened #56 "Logging"
How do we incorporate logging with logback?

`<logger name="jongo" level="DEBUG"/>` didn't seem to do it

[2016-10-05 18:02] julianvmodesto commented on #56
Nevermind -- looks like this works:

[code]

[2016-10-05 18:02] #56 closed

[2016-12-03 18:38] Tomsen1410 opened #57 "Code Design with Play 2.5"
Hi,

I am quite new to the play framework and jongo.
My question is how to design your code with Play 2.5. As play uses dependency injection now and therefore a PlayJongo object needs to be injected, I think that static methods like "users()" is the wrong approach. Lets say I have a class User. How should I design the code?

[2016-12-05 15:36] morellik opened #58 "Syntax to use with Play 2.5.x"
If I use the play-jongo compiled by me and putted in lib directory, I'm able to use the module like:

[code]
If I try to put everything in build.sbt and changing the previous line like:

[code]

I receive a [NullPointerException: null] located at  _return jongo.getCollection("DocBox.users");_

Which is the right way to use the new version of play-jong?

Thanks

[2016-12-06 08:39] morellik commented on #58
Seems that instantiating PlayJongo like below it's working:

`public static PlayJongo jongo = Play.current().injector().instanceOf(PlayJongo.class);`

I hope this is the right method ;-)

[2016-12-06 11:41] morellik commented on #57
It's a good question. At the moment I'm using static methods and all works fine. But should be better that someone explains exactly how to use PlayJongo using injection.

[2016-12-07 04:25] jeep87c opened #59 "How to specify an ObjecId as route parameter?"
How do I get the following route working:

GET        /:id        com.foo.FooController.getFoo(id: org.bson.types.ObjectId)

I'm getting the following error:
No URL path binder found for type org.bson.types.ObjectId. Try to implement an implicit PathBindable for this type.

I could obviously write my own ObjectId that would be a simple wrapper above org.bson.types.ObjectId but would also implement

[2016-12-07 14:00] morellik commented on #58
I know that the previous solution will not works on Play 2.6. I'll have to use injection that for the moment doesn't work for me. Any suggestion will be appreciated.

[2016-12-07 22:33] magro commented on #58
I suspect that the static in `@Inject public static PlayJongo jongo;` is the issue. Does it work without `static`?

[2016-12-09 08:03] morellik commented on #58
I tried to remove static, but I enter in a loop of static/non-static referenced context errors

This is a part of Users model
[code]

Where I try to call
`Users ut = Users.findByEmail(requestData.get("email"));`
I have _non-static method findById(java.lang.String) cannot be referenced from a static context_ exception.

If I want to use findByEmail, I've to create an instance of Users, is this corr

[2016-12-09 08:08] morellik commented on #58
In the play-framework group a member suggested me two possible solutions that I didn't understand:

if you understand what it's about, please explain me.

[2016-12-09 08:22] magro commented on #58
This is a question for stackoverflow or the mailing list, not jongo specific. You should read and understand dependency injection. Short version: don't use static at all, everything should be injected.

[2016-12-09 09:29] morellik commented on #58
The injection apparently could be easy to use. I use it to access to the Play configuration, but in this case is not so easy.
I tried to inject Users to a controller, but now I've a unMarshall Exception:
[code]

Caused by: org.jongo.marshall.MarshallingException: Unable to unmarshall result to class models.Users from content { "_id" : { "$oid" : "5835808af7a573256d85ec8e"} , "firstname" : "Enrico"

[2016-12-09 16:18] morellik commented on #58
The same error now occurs if I put
[code]

[2016-12-12 08:04] morellik commented on #58
I'm frustrated, I ask to play-framework group list, to stackoverflow, here, no one is able to explain how to inject play-jongo
After having spent the whole week doing tests, I really don't know where head-banging.

[2016-12-13 02:59] ShahBinoy commented on #55
@chekurisriharsha please close the issue if resolved

[2016-12-13 03:06] ShahBinoy commented on #58
Play 2.5 onwards, its all Dependency Injection using Guice. So mark  your `Users` class as singleton

The code below works for me
[code]

[2016-12-13 08:31] morellik commented on #58
Thanks, I tried:

[code]

but when I try to execute a query:

[code]

I receive the same unmarshall error.
What is your ProjectionContainer? How use Users in a controller, importing or injecting?

[2016-12-13 13:37] morellik commented on #58
I am sure to be close to the solution, but I still lack some detail. Until now I had some controllers and some models. Until now my Users model was like that:

[code]

And in my controller in was able to import Users and call all its static methods:
[code]
To save new users I used
[code]
I think that using injection I'll cannot use the same instruction (what I'll have to use?). And I think that to

[2016-12-13 17:33] chekurisriharsha commented on #55
@ShahBinoy For some reason `%%` was not working in my machine.

 I don't see close option. Sorry github newbie here. Please feel free to close if it works for you.

[2016-12-15 19:20] ShahBinoy commented on #58
Can you please provide link on what Greg Methvin helped you?

[2016-12-16 07:53] morellik commented on #58
https://groups.google.com/forum/#!topic/play-framework/clKE_uGUnXg

Thanks

[2016-12-21 10:32] morellik opened #60 "RuntimeException"
When I start an application I receive:

[ESC[31merrorESC[0m] application - RuntimeException
java.lang.RuntimeException: There is no started application
        at scala.sys.package$.error(package.scala:27)
        at play.api.Play$$anonfun$current$1.apply(Play.scala:86)
        at play.api.Play$$anonfun$current$1.apply(Play.scala:86)
        at scala.Option.getOrElse(Option.scala:121)
        at p

[2016-12-26 13:14] magro commented on #55
Closing this issue, please reopen if it's still relevant.

[2016-12-26 13:14] #55 closed

[2016-12-26 13:21] magro commented on #59
This could help:http://cjwebb.github.io/blog/2015/06/23/play-framework-path-binders/

Can we close this issue?

[2016-12-26 13:25] magro commented on #60
Please check that you're using the correct play-jongo version for your playframework version.

[2016-12-27 09:26] morellik commented on #60
You are right. I worked with an old version of play.jongo. Now I've downloaded the last master version.

[2016-12-27 09:34] #60 closed

[2016-12-28 00:44] jorexe opened #61 "How to use PlayJongo from static context?"
Hi! i'm new using jongo on Play Framework 2.5 and i was trying to use it like in Play Framework 2.4, but PlayJongo class can't be used from a static method.

Cheers, Jorge

[2016-12-30 23:49] jeep87c commented on #59
You're right. The only way to get this working is to create my own binder. I'll see what I come with after my vacation.

Thanks for your reply!

[2016-12-30 23:49] #59 closed

[2017-01-02 08:04] morellik commented on #61
To use play-jongo with Play 2.5.x I create a folder named _repositories_ at the same level of controllers and models to obtain a structure like:

|-controllers
|- models
|- repositories

In models I've the collection structure, like:

[code]

In the repositories I've a class for each model containing the play-jongo injection, the MongoCollection and all operations I want to do with the collection:

[2017-01-02 08:05] morellik commented on #57
Please take a look to my comment to _How to use PlayJongo from static context?_ question.

[2017-01-26 18:13] green-creeper opened #63 "Play 2.5 play-jongo configuration"
Hi,

I set up everything as described in readme.
As I understand I should I just should put this to db section of my application.conf

 playjongo.uri="mongodb://127.0.0.1:32768/play"
 playjongo.gridfs.enabled=false

now I got an error:
[code]

[2017-01-26 21:48] magro commented on #63
This `HikariPool-1 - dataSource or dataSourceClassName or jdbcUrl is required` sounds a bit like s.th. related to jdbc / databases. Perhaps this is a hint what to look for.

[2017-06-01 09:02] ananyashandilya1102 commented on #28
I have a similar requirement as I wish to connect to two different databases from the same app. Is this possible? @magro

[2017-06-30 22:51] greenled opened #66 "Play 2.6 update"
Hi. Play 2.6 was released a few days ago. Please could you update play-jongo to work with Play 2.6? Regards, Juan Carlos

[2017-06-30 23:07] magro commented on #66
Do you want to submit a pull request?

[2017-07-02 16:07] greenled commented on #66
Sure! I'm working on it.

I updated the module to scala 1.12.x and replaced `play.Configuration` references with `com.typesafe.config.Config` as suggested in [the migration docs](https://www.playframework.com/documentation/2.6.x/JavaConfigMigration26).

The main difference is that, unlike `Configuration`, `Config` does not allow default values when querying a configuration value, so [defaults shou

[2017-07-03 15:32] brainztorm commented on #66
Thanks ! :)

[2017-07-03 17:39] greenled commented on #66
Module version has not been updated yet BTW

[2017-07-05 21:15] magro commented on #28
It's possible via pull requests :-)

[2017-07-05 21:20] magro commented on #66
Updating deps in the same PR is fine for me.

[2017-07-09 08:05] #66 closed

[2017-09-26 09:05] kavuri opened #68 "Play jongo with sbt 2.12.2"
Does Jongo with sbt 2.12.2? Adding the following as dependency in build.sbt does not work

val appDependencies = Seq(
  "uk.co.panaxiom" %% "play-jongo" % "2.0.0-jongo1.3"
)

But if I change the version to 2.11, it works

[2017-09-26 15:04] greenled commented on #68
AFAIK it doesn't: It's compiled for 2.11. See #67 #66 #62 for ongoing work upgrading to 2.12 and Play 2.6.x.

[2017-09-26 16:05] kavuri commented on #68
@greenled But the README clearly mentions that Play 2.6.x is supported? Am I missing something?

[2017-10-03 13:15] greenled commented on #68
Yeap, you are :). Sorry, I wasn't clear. The README is on the master branch, which is some commits ahead of the latest release. Play 2.6 **should** ship on next release. On the meantime you can build the module, publish it locally, and test it.

[2017-10-03 17:48] kavuri commented on #68
@greenled thanks for the clarification. When is the next release planned? Any tentative date?

[2017-10-03 17:59] greenled commented on #68
@kavuri No idea, I'm not a core developer. @magro @alexanderjarvis when is the next release planned?

[2017-10-24 13:32] vdogan commented on #50
I am using play 2.6.6 and I am having the same issue. In my case, my custom cassandra connection factory class that implement CassandraConnectionFactory interface/trait from spark-cassandra-connector library is throwing ClassNotFoundException.

[2017-11-23 10:17] kavuri commented on #68
@magro @alexanderjarvis I am eagerly waiting for the next release to support Play 2.6.6. When is it planned?
If there is a snapshot version, how can I point my application to it?
Thanks

[2018-03-08 19:03] greenled commented on #68
@magro @alexanderjarvis any clue on this?

[2018-04-01 19:15] magro commented on #68
Sorry for the delay! I just released play-jongo 2.1.0-jongo1.3 which is now built with scala 2.12.

Thanks for you contributions and patience! ;-)

[2018-04-01 19:15] #68 closed

[2019-04-15 20:05] priyankasinha21 opened #71 "No configuration setting found for key 'databaseName'"
I am getting below error for db connection.

com.typesafe.config.ConfigException$Missing: No configuration setting found for key 'dbname'
at com.typesafe.config.impl.SimpleConfig.findKeyOrNull(SimpleConfig.java:156)
at com.typesafe.config.impl.SimpleConfig.findOrNull(SimpleConfig.java:174)
at com.typesafe.config.impl.SimpleConfig.find(SimpleConfig.java:188)
at com.typesafe.config.impl.SimpleConfig

[2019-05-06 04:41] intelease opened #72 "Update Mongo Java driver compile dependency"
The Mongo Java driver used by https://mvnrepository.com/artifact/uk.co.panaxiom/play-jongo_2.12/2.1.0-jongo1.3 is https://mvnrepository.com/artifact/org.mongodb/mongo-java-driver/3.4.2. However, I have to use at least MongoDB 3.6, if not 4.0.

Looking at https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/#java-driver-compatibility, it seems I need a version of Play-jongo tha

[2019-05-21 06:26] yehancha opened #73 "Cannot use with com.auth0:java-jwt:3.8.0"
I'm trying to use ```"com.auth0" % "java-jwt" % "3.8.0"```. But when I add it, ```"uk.co.panaxiom" %% "play-jongo" % "2.1.0-jongo1.3"``` crashes.

I have added the packages in application.conf as:
[code]
When I try to insert a mongo object with this config, it gives me:
[code]
Is there a way I can use ```"com.auth0" % "java-jwt" % "3.8.0"``` without breaking ```"uk.co.panaxiom" %% "play-jongo" % "

[2019-05-23 02:20] yehancha commented on #73
Excluding `jackson` coming with `auth0` fixed the issue.

`"com.auth0" % "java-jwt" % "3.8.0" exclude("com.fasterxml.jackson.core", "jackson-databind")`

[2019-05-23 02:20] #73 closed, assigned to nobody

[2019-06-29 22:30] arambau commented on #72
If you can get to Play 2.7.3, #74 should do the trick.

[2019-09-24 19:49] intelease commented on #72
@arambau Is there a plan to push that PR? With that PR, play-jongo would have a version compatible with Play 2.7, right?

[2020-02-04 17:07] #61 closed

[2020-02-06 04:51] arambau commented on #72
@intelease My apologies, I never got a notification that you made a comment here. I don't have access to the main repository here, but if you clone mine, you can build the module and it will work with play 2.7. In fact, I'm actively using it in Play 2.8 as well.

[2020-09-23 22:29] yingding opened #75 "Feature Request: Adding Support for Play 2.8.x"
The play 2.8.2 was out for a while now. It would be really great, if you can add support of play-jongo for play 2.8.2. I really like jongo, but without the play-jongo module i have to switch to morphia.